.venv/
__pycache__/
*.pyc

desktop_app/.desktop_runtime/
desktop_app/uploads/*.json
transaction_categorizer/data/*.csv
transaction_categorizer/output/*.json
transaction_categorizer/rules/*.json
transaction_categorizer/input/*
build_windows.cmd
build_windows.py
build/
dist/
build_logs/
release/
releases/*.zip
build_test_data/
transaction_categorizer/models/
.vscode/
*.spec